extends ../layout/main

block variables
  -var title = 'Form datepicker';
  -var description = 'Description for form date visualisation with datepicker';
  -var pageClass = 'index-page';

block content
  section
    input(type)

block script
  
